<div class="container">
<div class="menu">
<ul class="list">
<li><%= link_to 'New Task', new_task_path %></li>
<li><%= link_to 'sort expiration', tasks_path(sort_expired: 'true') %></li>
<li><%= link_to 'sort by priority', tasks_path(sort_priority: 'true') %></li>
</div>
<div class="show">
<%= form_tag(tasks_path, method: :get) do  %>
             <div class="form-inline my-2 my-lg-0">
               <%= text_field_tag :terms, params[:terms], placeholder: "search by content" %>
               <%= submit_tag 'Search', name:nil %>
             </div>
           <% end %>
<p id="notice"><%= notice %></p>
<h1><%= t('view.ALL TASKS')%></h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3">Buttons</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
<<<<<<< HEAD
      <% if current_usr.id == task.usr_id %>
=======
>>>>>>> de01cb4f7990c53b11b66ce2345abcd92336ceb8
      <tr>
        <td><%= task.name %></td>
        <td><%= task.content %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><%= task.start_date %></td>
        <td><%= task.end_date %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
<<<<<<< HEAD
      <% end %>
=======
>>>>>>> de01cb4f7990c53b11b66ce2345abcd92336ceb8
    <% end %>
  </tbody>
</table>
<%= paginate @tasks %>
</div>
</div>

<br>



