<p id="notice"><%= notice %></p>

<h1>Usrs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Task</th>
      <th>User type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usrs.each do |usr| %>
      <tr>
        <td><%= usr.name %></td>
        <td><%= usr.email %></td>
        <td><%= usr.tasks.count %></td>
        <td><%= usr.role %></td>
        <td><%= link_to 'Show', admin_usr_path(usr) %></td>
        <td><%= link_to 'Edit', edit_admin_usr_path(usr) %></td>
        <td><%= link_to 'Destroy', usr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usr', new_admin_usr_path %>
